<h1> The Yard </h1>
    <!-- <%= image_tag "the_yard.jpeg", alt: "picture of 4 milkshakes" %> -->
    <div class="hero"></div>
<p> 
    "Damn right, it's better than yours" 
</p>

<p> 
    We have <%= @flavour_count %> flavours and <%= @topping_count %> toppings! 
</p>