.hero {
    width: 600px;
    height: 200px;
    background-image: url(image-path("the_yard.jpeg"));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}